<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.ecam.color.timator_3000">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icone_final"
        android:label="Timator 3000"
        android:roundIcon="@mipmap/icone_final_round"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WeatherActivity"
            android:configChanges="uiMode" />
        <activity android:name="SplashScreen"
            android:configChanges="uiMode"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pack_actu.ActualiteActivity"
            android:configChanges="uiMode" />
        <activity android:name=".pack_actu.ActualiteActivity2"
            android:configChanges="uiMode" />
        <activity android:name=".DatabaseManager"
            android:configChanges="uiMode" />
        <activity android:name=".EditerIdeeActivity"
            android:configChanges="uiMode"/>
        <activity android:name=".GererPersoActivity"
            android:configChanges="uiMode" />
        <activity android:name=".IdeeActivity"
            android:configChanges="uiMode" />
        <activity android:name=".IdeeData"
            android:configChanges="uiMode" />
        <activity android:name=".Preferences"
            android:configChanges="uiMode" />
        <activity android:name=".ChoixIdeeLongTermeActivity"
            android:configChanges="uiMode"/>
        <activity android:name=".ActiviteLongTermeChoisieActivity"
            android:configChanges="uiMode" />
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>